* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 20px;
  height: 100%;
  position: relative;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  height: 50px;
  width: 100%;
  background-color: #274c6b;
  display: none;
}

.gambar {
  width: 60%;
  margin-top: 70px;
  margin-left: 40px;
}

.sidebar {
  width: 215px;
  background-color: #000cff;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
}

.sidebar nav > a {
  font-size: 150%;
  display: inline-block;
  padding: 30px 0px;
  padding-left: 30px;
  opacity: 0.7;
  transition: all 0.2s;
}
.sidebar nav > a:hover {
  opacity: 1;
}

.sidebar nav a span {
  font-weight: 300;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  font-size: 70%;
  padding: 7px 0;
  text-align: center;
  border-bottom: 3px solid #111111;
  background-color: #cecece;
}

.sidebar nav ul li:nth-child(1):hover {
  background-color: #e67e22;
}

.sidebar nav ul li:nth-child(1).active {
  background-color: #e67e22;
}

.sidebar nav ul li:nth-child(2):hover {
  background-color: #2980b9;
}

.sidebar nav ul li:nth-child(2).active {
  background-color: #2980b9;
}

.sidebar nav ul li:nth-child(3):hover {
  background-color: #16a085;
}

.sidebar nav ul li:nth-child(3).active {
  background-color: #16a085;
}

.sidebar nav ul li a {
  color: #000000;
}

.sidebar nav ul li:hover a {
  color: #fff;
}

.navig {
  height: 180px;
  background: #000cff;
  margin-top: -40px;
}

.Rakgh {
  font-size: 80%;
  padding-left: 220px;
  padding-top: 130px;
  color: #ffffff;
}

.Rakgh ul {
  float: right;
  font-size: 100%;
  margin: -35px;
  list-style: none;
  margin-right: 50px;
  position: relative;
}

.logout {
  width: 3%;
  margin: -43px;
  float: right;
  margin-right: 15px;
}

body {
  color: black;
  font-family: calibri;
  background-color: #eaeaea;
}

/* tampilan */

.main {
  width: 500px;
  margin: 90px auto;
  background-color: #e8e8e8;
  box-shadow: 0 0 9px black;
  margin-left: 350px;
}

.header {
  height: 50px;
  background-color: #0030ff;
  margin: 15px auto;
  text-align: center;
  padding-top: 15px;
  color: black;
  border: 1.5px solid;
}

h3:hover {
  color: white;
  text-shadow: 3px 3px 4px black;
}

.button {
  font-family: sans-serif;
  font-size: 15px;
  background: #2763ff;
  color: black;
  border: black 0px solid;
  padding: 5px 40px;
}

.button:hover {
  opacity: 0.9;
}

.box {
  background: #e8e8e8;
}
.box h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}
.box input {
  display: block;
  width: 420px;
  margin: 10px auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 0;
}

.box input:focus,
.box input:active {
  outline: none;
}

.box1 {
  background: #e8e8e8;
}
.box1 h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}
.box1 input {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 0;
  margin-left: 40px;
}

.box1 input:focus,
.box1 input:active {
  outline: none;
}

.box2 {
  margin-left: 250px;
  margin-top: -37px;
}

.form-group {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.file-control {
  display: none;
}
.label-file {
  width: 85%;
  height: 40px;
  display: inline-block;
  position: relative;
  background-color: #fff;
  padding: 5px 50px 5px 15px;
  border-radius: 4px;
  border: 2px solid #8a8a8a;
  background-color: #bcbcbc;
  vertical-align: middle;
  overflow: hidden;
  line-height: 30px;
  margin-left: 39px;
  margin-top: -50px;
}
.label-file:after {
  content: "Pilih";
  position: absolute;
  background-color: #8a8a8a;
  right: 0;
  top: 0;
  height: 29px;
  display: inline-block;
  padding: 8px 40px 0;
  color: #fff;
  line-height: 20px;
}
